* {
    box-sizing: border-box;
   
    
}

body{
    position: relative;
    display:grid;
    margin: 0 ;
    font-family: sans-serif;
    background: var(--cblanco);
    display: grid;
}
h1{
    position: relative;

    display: grid;
    text-align: center;
    color: var(--crojo) ;
}
:root{
    --cblanco: rgb(254, 254, 254 );
    --cnegro: rgb(1,1,1);
    --cverde: rgb(56, 194, 52);
    --crojo: rgb(193, 11, 11);
    --celeste: rgb(59, 206, 246);
}
h2{
    position: relative;

    text-align: center;
    color: var(--crojo) ;
}
.segundo{
    position: relative;

    display: grid;
    text-align: center;
    color: var(--celeste) ;
    font-weight: 1.5em;
}
.tri{
    
    position: relative;

    display: grid;
    margin-left: 600px;
    margin-right: 600px;
    height: 30px;
}
.area{
    
    position: relative;

    display: grid;
    text-align: center;
    color: var(--celeste) ;
    font-weight: 1.5em;

}
.calcular{
    
    position: relative;

    display: grid;
    margin-top: 20px;
    background: var(--cverde);
    color: var(--cblanco);
    margin-left: 600px;
    margin-right: 600px;
    /*width: 100px;*/
    height: 23px;
    
    
    
}
.a{
    
    position: relative;

    display: grid;
    text-align: center;
    color: var(--celeste) ;
    font-size: 20px;

}
.raiz{
    position: relative;

    display: grid;
    margin-top: 20px;
    background: var(--cnegro);
    color: var(--cblanco);
    margin-left: 600px;
    margin-right: 600px;
    /*width: 100px;*/
    height: 25px;
}
.r{
    position: relative;

    display: grid;
    text-align: center;
    color: var(--celeste) ;
    font-size: 20px;
}
.cadena{
   

    position: relative;

    display: grid;
    margin-top: 20px;
    background: var(--cnegro);
    color: var(--cblanco);
    margin-left: 590px;
    margin-right: 590px;
    /*width: 100px;*/
    height: 25px;
}
.l{
    
    position: relative;

    display: grid;
    text-align: center;
    color: var(--celeste) ;
    font-size: 20px; 
}
.concatenar{
    
    position: relative;

    display: grid;
    text-align: center;
    color: var(--celeste);
}
.version{
    
    position: relative;

    display: grid;
    text-align: center;
    color: var(--celeste);
}
.pantalla{

    position: relative;

    display: grid;
    text-align: center;
    color: var(--celeste);
}
.imprimir{
    display: grid;
    margin-top: 20px;
    margin-left: 600px;
    margin-right: 600px;
    /*width: 100px;*/
    height: 23px;
}
.im{
    background: var(--cverde);
    color: var(--cblanco);
    margin-top: -15px;
}
.copy{
    position: inherit;
    top: 50px;
    text-align: center;
    color: var(--crojo);
}